{# templates/blocks/stats.html #}
<div class="header-box">
    <h2>{{ coin_name }} - Statistics</h2>
    <div class="stats-grid">
        <div class="stats-items">
            <div class="stat-item">
                <strong>Total positions:</strong> 
                {{ stats.total_positions }}
            </div>
            <div class="stat-item">
                <strong>total_pnl:</strong> 
                {{ "%.2f"|format(stats.total_pnl) }}
            </div>
            <div class="stat-item">
                <strong>Wins:</strong> 
                {{ "%.2f"|format(stats.wins) }}
            </div>
            <div class="stat-item">
                <strong>Losses:</strong> 
                {{ "%.2f"|format(stats.losses) }}
            </div>
            <div class="stat-item">
                <strong>Winrate (%):</strong> 
                {{ "%.2f"|format(stats.winrate) }}
            </div>
            <div class="stat-item">
                <strong>Total win:</strong> 
                {{ "%.2f"|format(stats.total_win) }}
            </div>
            <div class="stat-item">
                <strong>Total loss:</strong> 
                {{ "%.2f"|format(stats.total_loss) }}
            </div>
        </div>
        <div class="button-group">
            <button class="toggle-positions-btn" onclick="toggleVisibility('{{ stats.test_id }}_positions')">Все позиции ({{ stats.total_positions | default(0) }})</button>
            <button class="toggle-positions-btn" onclick="toggleVisibility('{{ stats.test_id }}_graphics')" >Графики тестирования ({{ stats.total_positions | default(0) }})</button>
        </div>
    </div> 
</div>
